body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightgrey;
}

img{
    max-width: 100%;
    box-sizing: border-box;
    border: solid black 2px;
}

video{
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    /* border: solid black 2px; */
}

figure{
    margin: 0;
}

section{
    margin: 0;
}

header{
    text-align: center;
}

h1{
    margin: 0;
    padding: 20px;
    font-size: 36px;
}

nav{
    display: flex;
    margin: 0;
    justify-content: space-evenly;
}

h2{
    margin: 0;
    margin-bottom: 10px;
    padding: 10px;
    color: white;
    background-color: orange;
}

a{
    text-decoration: none;
}

a:hover h2{
    background-color: chocolate;
}

hr{
    border: solid, 1px, black;
    margin: 0;
}

.bottom_hr{
    margin: 20px;
}

main{
    padding: 20px;
    max-width: 1000px;
    margin-inline: auto;
}

main article{
    text-align: center;
    font-size: 30px;
}

h3{
    margin: 5px;
}

.grid{
    margin-inline: auto;
    justify-content: center;
    align-items: center;
}

.layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}

.layout2{
    display: grid;
    gap: 5px;
    align-items: center;
}

.layout2 div{
    display: flex;
    align-items: center;
}

.layout2 img{
    padding: 5px;
}

.layout3{
    display: grid;
    gap: 5px;
    align-items: center;
}

.layout3 div{
    display: flex;
    align-items: center;
}

.layout3 img{
    padding: 5px;
}

.mockups{
    margin-inline: auto;
    max-width: 90%;
}

.grid, .storyboard, .robot article{
    margin-bottom: 50px;
}

.robot article{
    justify-items: center;
}

.robot article video{
    max-width: 50%;
    height: auto;
}

.robot_billeder{
    display: flex;
    max-width: 100%;
    margin-inline: auto;
     align-items: center;
}

.robot_billeder article img{
    max-width: 100%;
    height: auto;
    padding: 5px;
}

.robot_billeder article{
    align-items: center;
}

.robot_billeder figure{
   width: 33%;
}

@media screen and (max-width: 480px) {
  
    .robot article video{
        max-width: 90%;
        height: auto;
    }

    .robot_billeder{
      flex-direction: column;
      max-width: 80%;
    }
    
    .mockups{
        max-width: 90%;
    }

    .layout{
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        align-items: center;
    }
    
    .layout2 div{
        flex-direction: column;
    }

    .layout3 div{
        flex-direction: column;
    }

    .grid, .storyboard, .robot article{
        margin-bottom: 20px
    }

    main article{
        font-size: larger;
    }
    
  }